*.class

# Package Files #
/output
/bin
tmp/
/eclipse/
*.pyc
/.project
/.settings
*.bak
/.classpath
/.metadata
/data/
/.gradle/

# Intellij files
*.iml
*.ipr
*.iws

/models
/src/main/java/data/ctb.gz
/src/main/java/data/pku.gz
/out
